<div class="container-fluid vh-100">
  <div class="row h-100">
    <div class="col-lg-6 d-flex flex-column justify-content-center bg-primary text-white p-4 p-lg-5">
      <h1 class="display-4">Pets Care App</h1>
      <p class="lead">Animal Application is a robust API-driven platform designed to manage and showcase information about animals available for ownership or sale.</p>
    </div>
    <div class="col-lg-6 d-flex justify-content-center align-items-center">
      <div class="w-100">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
