<div class="p-4 bg-white rounded-lg shadow">
  <h5 class="text-xl mb-3 font-weight-bold text-dark">Login Here</h5>
  <span class="text-danger">{{ errorMessage }}</span>
  
  <form
    [formGroup]="userRegisterForm"
    (ngSubmit)="onSubmit()"
    autocomplete="off"
    novalidate
  >
    <div class="form-group mb-3">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        placeholder="Username"
        class="form-control"
        formControlName="username"
        autocomplete="username"
        [ngClass]="{
          'is-invalid': userRegisterForm.get('username')?.hasError('required') && userRegisterForm.get('username')?.touched,
          'is-valid': userRegisterForm.get('username')?.valid
        }"
      />
      <div *ngIf="userRegisterForm.get('username')?.hasError('required') && userRegisterForm.get('username')?.touched" class="invalid-feedback">
        Username Address is required.
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        placeholder="Email"
        class="form-control"
        formControlName="email"
        autocomplete="email"
        [ngClass]="{
          'is-invalid': userRegisterForm.get('email')?.hasError('required') && userRegisterForm.get('email')?.touched,
          'is-valid': userRegisterForm.get('email')?.valid
        }"
      />
      <div *ngIf="userRegisterForm.get('email')?.hasError('required') && userRegisterForm.get('email')?.touched" class="invalid-feedback">
        Email Address is required.
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        placeholder="Password"
        class="form-control"
        formControlName="password"
        autocomplete="password"
        [ngClass]="{
          'is-invalid': userRegisterForm.get('password')?.hasError('required') && userRegisterForm.get('password')?.touched,
          'is-valid': userRegisterForm.get('password')?.valid
        }"
      />
      <div *ngIf="userRegisterForm.get('password')?.hasError('required') && userRegisterForm.get('password')?.touched" class="invalid-feedback">
        Password is required.
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
