@if(isOpen) {
  <div class="fixed top-0 right-0 w-100 h-100 z-30">
    <div class="bg-dark opacity-75 w-100 h-100 position-fixed"></div>
    <div class="position-fixed top-0 right-0 max-w-md w-100 h-100 bg-white shadow" @fadeSlideInRight>
      <div class="d-flex justify-content-between align-items-center p-3 border-bottom">
        <h4 class="font-weight-bold text-xl mb-0">{{ headerText }}</h4>
        <i
          class="ri-close-line ri-lg cursor-pointer"
          (click)="onClosePanel()"
        ></i>
      </div>
      <div class="d-flex flex-column p-3">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
}


