<div class="p-4 bg-white rounded-lg shadow">
  <h5 class="text-xl mb-3 font-weight-bold text-dark">Login Here</h5>
  <p>{{errorMessage()}}</p>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    autocomplete="off"
    novalidate
  >
    <div class="form-group mb-3">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        placeholder="Username"
        class="form-control"
        formControlName="username"
        autocomplete="username"
        [ngClass]="{
          'is-invalid': loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched,
          'is-valid': loginForm.get('username')?.valid
        }"
      />
      <div *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched" class="invalid-feedback">
        Username is required.
      </div>
    </div>
    
    <div class="form-group mb-3">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        placeholder="Password"
        class="form-control"
        formControlName="password"
        autocomplete="password"
        [ngClass]="{
          'is-invalid': loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched,
          'is-valid': loginForm.get('password')?.valid
        }"
      />
      <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched" class="invalid-feedback">
        Password is required.
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
  <p>
    <a routerLink="/register" class="text-primary">Register</a>
  </p>
</div>
