<div class="container mt-4">
  
  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addPetForm">
    Add Pet
  </button>
  
  @defer {
    <app-search-item (searchFormSubmission)="handleSearchFormSubmission($event)"></app-search-item>
  }
  
  <ng-container *ngIf="pets$ | async as pets"> 
    @if (pets.length > 0) {
      <div class="table-responsive">
        <h3 class="pt-3 pb-3">Pet List</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Animal</th>
              <th scope="col">Breed</th>
              <th scope="col">Type</th>
              <th scope="col">Color</th>
              <th scope="col">Age</th>
              <th scope="col">Price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for (pet of pets; track $index) {
              <tr>
                <td>{{ pet.name }}</td>
                <td>{{ pet.animal }}</td>
                <td>{{ pet?.breed?.name }}</td>
                <td>{{ pet.type }}</td>
                <td>{{ pet.color }}</td>
                <td>{{ pet.age }}</td>
                <td>{{ pet.price }}</td>
                <td>
                  <button class="btn btn-primary btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Add" data-bs-toggle="modal" data-bs-target="#addPetForm">
                    <i class="fa fa-table"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit" [routerLink]="['/update-pet', pet.id]">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" (click)="confirmDelete(pet.id)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>  
            }        
          </tbody>
        </table>
      </div>
    }@else {
      <div class="pt-3 pb-3">
        <h3>No Data</h3>
      </div>
    }
  </ng-container>
  
</div>

<app-add-pet (addPetFormSubmitted)="handleAddPetFormSubmission($event)" ></app-add-pet>

<app-confirm-delete-modal 
  [title]="title"
  (deleteConfirmed)="deletePet()"
></app-confirm-delete-modal>