<div class="modal fade" id="addPetForm" tabindex="-1" aria-labelledby="addPetForm" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addPetForm">Add Pet</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form [formGroup]="petForm">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input id="name" type="text" formControlName="name" class="form-control" required>
              @if(petForm.get('name')?.hasError('required') && petForm.get('name')?.touched) {
                <div class="text-danger">
                  Name is required.
              </div>
              }
            </div>

            <div class="mb-3">
              <label for="animal">Animal</label>
              <select class="form-control" id="animalSelect" formControlName="animal">
                <option value="" disabled>Select an animal</option>
                <option *ngFor="let animal of getAnimals()" [value]="animal">{{ animal }}</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="type">Type</label>
              <select class="form-control" id="type" formControlName="type">
                <option value="" disabled>Select a type</option>
                <option *ngFor="let type of getTypes()" [value]="type">{{ type }}</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="age" class="form-label">Age</label>
              <input id="age" type="number" formControlName="age" class="form-control" required>
              @if(petForm.get('age')?.hasError('required') && petForm.get('age')?.touched) {
                <div class="text-danger">
                  Age is required.
              </div>
              }
            </div>

            <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input id="price" type="number" formControlName="price" class="form-control" required>
              @if(petForm.get('price')?.hasError('required') && petForm.get('price')?.touched) {
                <div class="text-danger">
                  Price is required.
              </div>
              }
            </div>

            <div class="mb-3">
              <label for="color" class="form-label">Color</label>
              <input id="color" type="text" formControlName="color" class="form-control" required>
            </div>

            <div class="form-check form-switch">
              <input 
                class="form-check-input" 
                type="checkbox" 
                id="hasGenealogicalList" 
                [checked]="hasGenealogicalList()" 
                (change)="hasGenealogicalListEvent($event)">
              <label class="form-check-label" for="hasGenealogicalList">hasGenealogicalList</label>
            </div>

            <div class="form-check form-switch">
              <input 
                class="form-check-input" 
                type="checkbox" 
                id="isClubMember" 
                [checked]="isClubMember()" 
                (change)="isClubMemberEvent($event)">
              <label class="form-check-label" for="isClubMember">isClubMember</label>
            </div>

          </form>
      </div>
      <footer class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="petForm.invalid"  (click)="savePetButton()">Save</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </footer>
    </div>
  </div>
</div>