<div class="row">
  <form class="d-flex" [formGroup]="searchForm">

    <div class="m-3 col-md-2 col-lg-2">
      <input id="name" type="text" formControlName="name" class="form-control" placeholder="name">
    </div>
    
    <div class="m-3">
      <input id="age" type="number" formControlName="age" class="form-control" placeholder="age">
    </div>

    <div class="m-3 col-md-2 col-lg-2">
        <select class="form-control" id="animalSelect" formControlName="animal">
          <option value="" >Select an animal</option>
          <option *ngFor="let animal of getAnimals()" [value]="animal">{{ animal }}</option>
        </select>
    </div>

    <div class="m-3 col-md-2 col-lg-2">
        <select class="form-control" id="type" formControlName="type">
          <option value="">Select a type</option>
          <option *ngFor="let type of getTypes()" [value]="type">{{ type }}</option>
        </select>
      </div>

    <div class="d-flex justify-content-end col-md-4 col-lg-4">
      <button class="btn btn-outline-success my-2 my-sm-0 m-3" type="submit" (click)="searchHandler()">Search</button>
    </div>
  </form>

</div>