<!-- <div class="modal-content">
    <p>Are you sure you want to delete the pet: '{{ pettoDelete.name }}'?</p>
    <div class="modal-actions">
      <button class="btn-ok" (click)="OnConfirmationBtmClicked(true)">OK</button>
      <button class="btn-cancel" (click)="OnConfirmationBtmClicked(false)">Cancel</button>
    </div>
  </div>
   -->

  <!-- Delete Confirmation Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModal" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Confirm Deletion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Do you want to delete {{pettoDelete.name}}?</p>
        </div>
        <div class="modal-actions">
          <button class="btn-ok" (click)="OnConfirmationBtmClicked(true)">OK</button>
          <button class="btn-cancel" (click)="OnConfirmationBtmClicked(false)">Cancel</button>
        </div>
      </div>
  </div>
</div>